<html>
<head>
    <title>Trapper: Feed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/hammer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<body>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <br />
    <form method="post" action="/search/">
        <div class="container-fluid">
          <div class="row">
            <div class="col-8">
                  <input type="text" class="form-control" name="search" id="inputSearch" placeholder="Search" autofocus>
                  {% csrf_token %}
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
    </form>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for feed in feed_list %}
            <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
              <img class="img-fluid" style="width: 100%; height: auto; min-height: 800px;" src="{{ feed.image }}" alt="Second slide">
              <div class="carousel-caption rounded" style="background-color: #646464; padding: 10px;">
                <h4>{{ feed.title }}</h4>
                <p>
                    <a href="/fetch/{{ feed.id }}" style="color: white; font-size: 30px; font-weight: normal;" class="btn btn-primary btn-lg btn-block" rel="external">Download{% if feed.size %}<br /><span style="font-size: 14px; font-weight: normal;">{{ feed.size }}</span>{% endif %}</a>
                    <br />
                    <a href="{{ feed.url }}" style="color: white; margin-top: 10px; font-size: 30px; font-weight: normal;" class="btn btn-success btn-lg btn-block" rel="external">Source</a>
                </p>
              </div>
            </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" style="color: white;" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" style="color: white;" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <script type="text/javascript">

        $('.carousel').carousel({
          interval: 2000000,
          keyboard: true
        });

        $('.carousel').each(function () {
            var $carousel = $(this);
            var hammertime = new Hammer(this, {
                recognizers: [
                    [Hammer.Swipe, { direction: Hammer.DIRECTION_HORIZONTAL }]
                ]
            });
            hammertime.on('swipeleft', function () {
                $carousel.carousel('next');
            });
            hammertime.on('swiperight', function () {
                $carousel.carousel('prev');
            });
        });
    </script>
</body>
</html>