<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/hammer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <title>Trapper: Search</title>
</head>

<body>

<div class="container">

    <br />
    <div id="message"></div>

    <form method="post" action="/search/">
        <div class="container-fluid">
          <div class="row">
              <div class="col">
                <a class="btn btn-success float-right" href="/feed/"><- Back</a>
              </div>
            <div class="col">
                  <input type="text" class="form-control" name="search" id="inputSearch" placeholder="Search" autofocus value="{{ term }}">
                  {% csrf_token %}
                <script type="text/javascript">
                // using jQuery
                let csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                </script>

            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary float-left">Search</button>
            </div>
          </div>
        </div>
    </form>

    <br />

    <div class="container-fluid">
      <div class="row">
        <div class="col">
        {% if result %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Added</th>
              <th scope="col">Name</th>
              <th scope="col">Size</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for tr in result %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ tr.date }}</td>
                  <td>{{ tr.name }}</td>
                  <td>{{ tr.size|safe }}</td>
                  <td>
                      <button class="btn btn-primary" onclick="send('{{ tr.magnet }}');">Download</button>
                      <a href="{{ tr.link }}" class="btn btn-success">Source</a>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
            <h1>No results! Try again! :)</h1>
        {% endif %}
        </div>
      </div>
    </div>


</div> <!-- /container -->

<script type="text/javascript">

    function send(magnet) {
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

       $.ajax({
            url:'/search_fetch/',
            method: 'POST',
            data: {magnet: magnet},
            success: function (data) {
                if (data.response === 'ok') {
                    $("#message").html("<div class=\"alert alert-success\" role=\"alert\">\n" +
                        "<strong>Well done!</strong> You successfully add torrent for download.\n" +
                        "</div>");
                } else {
                    $("#message").html("<div class=\"alert alert-danger\" role=\"alert\">\n" +
                        "<strong>Fail!</strong> Torrent was't added for download.\n" +
                        "</div>");
                }
                $('html, body').animate({
                    scrollTop: $("#message").offset().top
                }, 500);
            }
        });
    }
</script>
</body>
</html>

